<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="cell_view_icon" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">

    <line class="outline lines" x1="15.7" y1="14" x2="14.6" y2="13.3"/>
    <line class="outline lines" x1="8.2" y1="9.4" x2="9.4" y2="10.1"/>
    <line class="outline lines" x1="15.6" y1="9.5" x2="14.6" y2="10.1"/>
    <line class="outline lines" x1="12" y1="6.8" x2="12" y2="8.7"/>
    <line class="outline lines" x1="12" y1="16.7" x2="12" y2="14.9"/>
    <line class="outline lines" x1="9.4" y1="13.4" x2="8.4" y2="14"/>
    <circle class="outline inner-circle" cx="12" cy="11.8" r="3.1"/>
    <circle class="outline outer-circles" cx="5.7" cy="15.7" r="3.1" fill="none"/>
    <circle class="outline outer-circles" cx="5.7" cy="7.8" r="3.1" fill="none"/>
    <circle class="outline outer-circles" cx="12" cy="19.8" r="3.1" fill="none"/>
    <circle class="outline outer-circles" cx="12" cy="3.7" r="3.1" fill="none"/>
    <circle class="outline outer-circles" cx="18.2" cy="15.7" r="3.1" fill="none"/>
    <circle class="outline outer-circles" cx="18.2" cy="7.8" r="3.1" fill="none"/>
</svg>
