#comparison_title {
    margin-top: 5px;
}

.compare_row {
    height: 28vh;
}

#comparison_div .compare_col {
    padding: 0;
    height: 100%;
}

.compare_plot_body {
    height: 90%;
    width: 100%;
}

.compare_plot_title {
    height: 10%;
    width: 100%;
}

#comparison_div h5 {
    font-size: 0.8rem;
}

#phenotype_list .list-group-item {
    padding: 6px 3px;
    font-size: 0.6rem;
}

#phenotype_list .material-icons {
    font-size: 1rem;
}

#small-multiple-toggle * {
    font-size: 0.6rem;
}

#comparison_div .viewfinder_chart_area_path {
    fill: rgba(255, 165, 0, 0.9)
}