/* Bootstrap Overrides */
#topBar {
    padding: 0 16px;
}

#title {
    font-size: 16px;
}

#navbarDropdown, #navbarUpload {
    font-size: 16px;
}

#container, #row, #channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    max-width: 100vw;
}

#row {
    padding: 0 16px;
    width: 100%;
}

#channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper, #openseadragon_wrapper {
    height: 90vh;
    position: relative;
    min-height: 90vh;
}

#channel_list_wrapper {
    padding: 0 6px 0 0;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#openseadragon_wrapper {
    padding: 0 0 0 6px;
    max-width: 80%;
}

#csv_channel_list_wrapper {
    padding: 0 0 0 6px;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#lowRow1, #lowRow2, #lowRow3 {
    position: relative;
}

#boxHeading1, #boxHeading2, #boxHeading3 {
    font-size: 13px;
    position: relative;
}

#selected-channels-header-div {
    position: absolute;
    right: 0;
    top: -4px;
}

#openseadragon, #channel_list, #plots_display {
    max-height: 90vh;
    height: 90vh;
    position: relative;
    width: 100%;
}

#boxChannels1A, #boxChannels1B {
    font-size: 10px;
}

#starplot_label, #scatterplot_label {
    font-size: 0.8rem;
}

#plots_display .viewfinder_chart_label_g_g_text_g {
    font-weight: bold;
}
#comparison_div .viewfinder_chart_label_g_g_text_g {
    font-weight: normal;
}