Flask==1.1.2
dask
dask[dataframe]
flask-sqlalchemy==2.5.1
numpy
ome-types==0.2.0
opencv-python
orjson
pandas
pillow==8.0.0
pyinstaller
requests
scikit-image==0.14.2
scikit-learn==0.20.2
scipy
sqlalchemy==1.4.7
tifffile==2020.10.1
tornado
waitress
xmlschema
zarr