#csv_gating_list {
    width: 100%;
    height: 80vh;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.input{
    font-size:8px;
    width:35px;
    margin-top:15px;
    border: 1px solid gray;
    box-sizing: border-box;
}

#csv_gating_list .list-group-item {
    padding: .20rem 0.5rem;
    border: 0;
}

#csv_gating_list .active {
    background-color: #bfbcbc;
    border-color: #bfbcbc;
    height: 90px;
}

#csv_gating_list .list-group {
    border-radius: 0rem;
}

#openseadragon_loader, #channel_list_loader, #csv_gating_list_loader {
    margin-left: 33px;
}

.auto-btn {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px;
}

.distribution_line {
    stroke: rgba(130, 130, 130, 0.5);
    stroke-width: 4px;
    fill: none;
}

.gmm_line {
    stroke-width: 1px;
    stroke-opacity: 0.75;
    fill: none;
}

line.track {
    stroke-width: 4px !important;
}


#drag-and-drop-text {
    font-size: 30pt;
    text-align: center;
}

#drag-and-drop-info {
    display: none;
}

.dz-preview, .dz-file-preview {
    display: none;
}

#channels_arrow-upload-form, #channels_arrow-upload-form * {
    display: none
}

#arrow-upload-form, #arrow-upload-form * {
    display: none
}
