img {
        max-width: 100%;
        max-height: 100%;
    }
    body {background-color: black; color: white;}
    .cbox { width: 1400px; margin-left: auto; margin-right: auto; height: 500px; }
    .center {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 25%;
      /*-ms-transform: translate(-50%, -50%);*/
      /*transform: translate(-50%, -50%);*/
    }
    .cbox [class*='box'] { width:220px; height:150px; float: left; margin-right: 30px; margin-bottom: 30px; }
    .cbox .box1 { background-color: #000; border: 1px solid white; text-align: center;}
    .cbox .box2 { background-color: #000; border: 1px solid white; text-align: center;}
    .cbox .box3 { background-color: #000; border: 1px solid white; text-align: center;}

    . cbox a:link {
      color: white;
    }
    .cbox a:visited {
      color: white;
    }
    .cbox a:hover {
      color: white;
    }
    .cbox a:active {
      color: white;
    }