body {
    font-family: 'Source Sans Pro', sans-serif;
}

#topBar {
    background-color: rgba(0, 0, 0, 1) !important;
    height: 5vh;
    max-height: 5vh;
    left: 0;
    padding: 0 16px;
    position: relative;
    margin: 0;
    top: 0;
    width: 100vw;
    z-index: 101;
}

#title {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

#navbarDropdown, #navbarUpload {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

/*LOADING SPINNER SECTION*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}


.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/*END OF LOADING SPINNER SECTION*/

#cell_display {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 80vh;
}

.mylabels {
    font-size: 0.6rem;
}

#neighborhood_form {
    font-size: 0.6rem;
}

#cell_wrapper {
    display: none;
}

#compute_neighborhood_button {
    font-size: 0.6rem;
}

#cell_icon {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

#refresh_colors {
    position: absolute;
    bottom: 15px;
    font-size: 0.6rem;
}

#channel_list {
    width: 100%;
    height: 80vh;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#upload-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

#channel_list .list-group-item {
    padding: .20rem 0.5rem;
    border: 0;
}

#channel_list .active {
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    height: 90px;
}

#channel_list .list-group {
    border-radius: 0rem;
}

#channel_list_loader {
    margin-left: 33px;
}

.auto-loading {
    opacity: 50%;
}

.auto-btn {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px;
}

.image_distribution_line {
    stroke: rgba(130, 130, 130, 0.5);
    stroke-width: 4px;
    fill: none;
}

.gmm_line {
    stroke-width: 1px;
    stroke-opacity: 0.75;
    fill: none;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: move;
}

.slider text {
    margin-top: -10px;
    font-size: 10px;
}


nav {
    margin-bottom: 10px;
}

.channel-col {
    margin: 0;
}

.selected-channels-header {
    color: white;
    font-size: 0.6rem;
}

.bold-selections-header * {
    font-weight: bold;
}

#upload-container * {
    font-size: 0.8rem;
}

#upload-container label {
    font-weight: bold;
}

.progress-bar {
    background-color: #5ca3c1;
    role: progressbar;
    width: 0%;
    aria-valuenow: 0;
    aria-valuemin: 0;
    aria-valuemax: 100;
    height: 40px;
    border-radius: 2px;
}

#upload-container .progress-bar-label {
    top: 50%;
    vertical-align: middle;
    font-size: 0.5rem;
    margin: 3px;
    white-space: nowrap;

}

#upload-container .progress {
    margin: 5px;
    width: 100%;
    display: none;
}

#upload-parent {
    width: 800px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

#upload_button {
    height: 40px
}


#channel-match-container .list-group-item {
    height: 30px;
    padding: 0 .6rem;
    border-radius: 0;
}

#channel-match-container .form-group {
    margin: 0rem;
    display: flex;
    align-items: center;
}

#channel-match-container .col-form-label, .form-control-plaintext {
    padding: 0;
}

#channel-match-container {
    font-size: 8pt;
    margin-top: 15px;
    padding-right: 0;
}

#channel-match-container .form-control-plaintext {
    font-size: 8pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

#channel-match-container .form-control {
    font-size: 8pt;
    padding: 0;
    height: 100%;
}

#channel-match-container .col-form-label {
    font-weight: bold;
    font-size: 8pt;
}

#channel-match-container .selected {
    background-color: #d3d3d3;
}

#channel-match-container .channel-hover:hover {
    background-color: #d3d3d3;

}

#channel-match-container .remove {
    background-color: #b3b3b3 !important;
    position: absolute;
    right: 10px;
    top: 9px;
    height: 13px;
    width: 13px;
}

#channel-match-container .edit-config {
    color: #333;
    float: right;
}

#channel-match-container .optional {
    background-color: #b3b3b3 !important;
}

#channel-match-container .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#channel-match-container .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#normalize-row, #transform-row {
    color: rgba(0, 0, 0, 1);
    font-size: 14pt;
}

#normalize-csv, #transform-data {
    padding-left: 10rem;
    margin: 0.35rem 0.4rem;
}

.normalize-form, .transform-form {
    padding-left: 0;
}

label {
    display: inline-block;
}

.normalize-checkbox, .transform-checkbox {
    height: 10px;
    width: 10px;
    margin: 0.15rem 0.4rem;
}

.normalize-label, .transform-label {
    margin-left: 10px;
}

.substring-container {
    text-align: right;
    position: relative;
    top: 2px;
}

#remove-substring {
    font-size: 7pt;
}

.substring-container * {
    font-size: 7pt;
}

.substring-container button {
    position: relative;
    padding: 0.2rem;
}

#left-list * {
    background-color: #d3d3d3;
}

#middle-list * {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    display: inline-block;
}

.left-title, .right-title {
    color: rgba(0, 0, 0, 1);
}

.title {
    font-size: 14pt;
}

#channel-match-container .destination {
    display: flex;
    align-items: center;
}

#channel-match-container .arrow-between-columns {
    display: flex;
    align-items: center;
}

#drag-elements-into-order {
    margin-top: 7px;
}

#channel-match-root {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#save-col {
    padding-top: 7pt;
}

.channel-match-title {
    color: rgba(0, 0, 0, 1);
    padding-left: 0;
}

.delete-button {
    padding-left: 5px;
}

.fa-pencil-alt, .fa-trash {
    color: black;
}

#phenotype_label {
    font-size: 0.6rem;
    font-weight: bold;
}

#phenotype {
    font-size: 0.6rem;
}

.radius-circle {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
    vector-effect: non-scaling-stroke;
}

.col-svg-wrapper {
}
