body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*LOADING SPINNER SECTION*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #b8b8b8;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}


.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/*END OF LOADING SPINNER SECTION*/

#openseadragon {
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#cell_display {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 80vh;
}

#plots_display {
    height: 100%;
}

#scatterplot_display {
    height: 40vh;
    width: 100%;
}

#parallel_coordinates_display {
    height: 45vh;
    width: 100%;
    position: relative;
}


.mylabels {
    font-size: 0.6rem;
}

#neighborhood_form {
    font-size: 0.6rem;
}

#cell_wrapper {
    display: block;
}

#compute_neighborhood_button {
    font-size: 0.6rem;
}

#cell_icon {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

#refresh_colors {
    position: absolute;
    bottom: 15px;
    font-size: 0.6rem;
}

#channel_list_div {
    height: 92%;
    width: 100%;
    font-size: 6pt;
    overflow-y: auto;
    overflow-x: hidden;
}

#accordion {
    position: absolute;
    bottom: 0;
    /*height: 8%;*/
    width: 100%;
    border-radius: 0rem;
}

#channel_list {
    height: 85vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#upload-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

#channel_list .list-group-item {
    padding: .25rem 0.5rem;
    border: 0;
}

#channel_list .active {
    background-color: #bfbcbc;
    border-color: #bfbcbc;
}

#channel_list .list-group {
    border-radius: 0rem;
}

#openseadragon_loader {
    margin-left: 300px;
}

#channel_list_loader {
    margin-left: 33px;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: move;
}

.slider text {
    margin-top: -10px;
    font-size: 8px;
}


.channel-col {
    margin: 0;
}

.selected-channels-header {
    font-size: 0.6rem;
}

.bold-selections-header * {
    font-weight: bold;
}

#upload-container * {
    font-size: 0.8rem;
}

#upload-container label {
    font-weight: bold;
}

.progress-bar {
    background-color: #5ca3c1;
    role: progressbar;
    width: 0%;
    aria-valuenow: 0;
    aria-valuemin: 0;
    aria-valuemax: 100;
    height: 40px;
    border-radius: 2px;
}

#upload-container .progress-bar-label {
    top: 50%;
    vertical-align: middle;
    font-size: 0.5rem;
    margin: 3px;
    white-space: nowrap;

}

#upload-container .progress {
    margin: 5px;
    width: 100%;
    display: none;
}

#upload-parent {
    width: 800px;
}

#upload_button {
    height: 40px
}


#channel-match-container .list-group-item {
    height: 30px;
    padding: 0 .6rem;
    border-radius: 0;
}

#channel-match-container .form-group {
    margin: 0rem;
    display: flex;
    align-items: center;
}

#channel-match-container .col-form-label, .form-control-plaintext {
    padding: 0;
}

#channel-match-container {
    font-size: 8pt;
    margin-top: 15px;
    padding-right: 0;
}

#channel-match-container .form-control-plaintext {
    font-size: 8pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

#channel-match-container .form-control {
    font-size: 8pt;
    padding: 0;
    height: 100%;
}

#channel-match-container .col-form-label {
    font-weight: bold;
    font-size: 8pt;
}

#channel-match-container .selected {
    background-color: #d3d3d3;
}

#channel-match-container .channel-hover:hover {
    background-color: #d3d3d3;

}

#channel-match-container .remove {
    background-color: #b3b3b3 !important;
    position: absolute;
    right: 10px;
    top: 9px;
    height: 13px;
    width: 13px;
}

#channel-match-container .edit-config {
    color: #333;
    float: right;
}

#channel-match-container .optional {
    background-color: #b3b3b3 !important;
}

#channel-match-container .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#channel-match-container .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#normalize-row {
    font-size: 14pt;
}

#normalize-csv {
    padding-left: 10rem;
    margin: 0.35rem 0.4rem;
}

.normalize-form {
    padding-left: 0;
}

label {
    display: inline-block;
}

.normalize-checkbox {
    height: 10px;
    width: 10px;
    margin: 0.15rem 0.4rem;
}

.normalize-label {
    margin-left: 10px;
}

.substring-container {
    text-align: right;
    position: relative;
    top: 2px;
}

#remove-substring {
    font-size: 7pt;
}

.substring-container * {
    font-size: 7pt;
}

.substring-container button {
    position: relative;
    padding: 0.2rem;
}

#left-list * {
    background-color: #d3d3d3;
}

#middle-list * {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    display: inline-block;
}


.title {
    font-size: 14pt;
}

#channel-match-container .destination {
    display: flex;
    align-items: center;
}

#channel-match-container .arrow-between-columns {
    display: flex;
    align-items: center;
}

#drag-elements-into-order {
    margin-top: 7px;
}

#channel-match-root {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#save-col {
    padding-top: 7pt;
}

.channel-match-title {
    padding-left: 0;
}

.navbar-datasource {
    margin: 0px 10px;
}

.fa-pencil-alt, .fa-trash {
    color: #343a40;
}

.datasource-edit-row a {
    padding-left: 5px;

}


#phenotype_label {
    font-size: 0.6rem;
    font-weight: bold;
}

#phenotype {
    font-size: 0.6rem;
}

.radius-circle {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
    vector-effect: non-scaling-stroke;
}

#viewer_container {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

#channel_list_wrapper, #openseadragon_wrapper, #cell_wrapper, #analysis_wrapper {
    padding: 0px 5px;
}


#cell_wrapper {
    flex: 0 0 10%;
    max-width: 10%;
}

#cell_wrapper .btn {
    padding: 6px;
}

.y-axis, .x-axis {
    display: none;
}


.tooltip {
    fill: #333333;
}

polygon {
    fill: rgba(70, 130, 180, 0.0);
    stroke: #ffbc3e;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}

polygon:hover {
    fill: rgba(70, 130, 180, 0.0);
    stroke: #ffbc3e;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}


#selection-options {
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

#toolbar-row {
    width: 100%;
    margin: 0;
}

#openseadragon-loader-container {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}

#openseadragon-toolbar {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.box-heading {
    font-size: 1rem;
}

.material-icons {
    color: #c1c1c1;
}

#selection-options .material-icons, #openseadragon-toolbar .material-icons {
    font-size: 24px;
}

#plots_display .material-icons {
    font-size: 18px;
}

.selected:hover {
    cursor: pointer !important;
    color: darkorange !important;
}

.material-icons:hover {
    cursor: pointer;
    color: #8f8f8f;
}

#cell_container {
    height: 24px;
    width: 24px;
}

#neighborhood_icon, #neighborhood_composition_icon {
    fill: none;
    stroke: #c1c1c1;
    font-size: 4rem;
    stroke-miterlimit: 10;
}

#neighborhood_icon:hover, #neighborhood_composition_icon:hover {
    stroke: #8f8f8f;
}

#neighborhood_similarity_label {
    font-size: 8pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 0;
    padding-top: 4px;
}

#similarity_val {
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 0;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}


#neighborhood_table_heading, #neighborhood_table_footing {
    padding: 0;
}

#accordion .card {
    border-radius: 0;
}

#neighborhood_table_label {
    font-size: 10pt;
}

#neighborhood_dropdown_button, #save_neighborhood_button {
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#neighborhood_table_card {
    padding: 0 10px;
    height: 100%;
    overflow-y: scroll;
}

#accordion .show {
    height: 28.8vh;
}

#neighborhood_table {
    margin-bottom: 5px;
}

#neighborhood_table td, th {
    padding: 0 10px;
    font-size: 0.5rem;
}

.actions-column * {
    font-size: 0.8rem;
    padding: 0px 2px;
    color: black;
}

.actions-column {
    padding-top: 0 !important;
}

.neighborhood_icon_col {
    padding: 0 3px !important;
}

.id-col, .name-col, .source-col {
    padding: 0 !important;
}

#neighborhood_table_header th {
    padding: 0;
}


#navbarDropdown, #navbarUpload, #navbarCompareDropdown {
    font-size: 16px;
}

#topBar {
    padding: 0 16px;
}

#title {
    font-size: 16px;
}


#accordion .card-header, .card-footer {
    height: 3.6vh;
}

.radarstarplot_display {
    display: block;
    margin: auto;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

#custom_cluster {
    font-size: 0.8rem;
    margin-left: 15px;
}

#custom_cluster * {
    font-size: 0.8rem;
    padding: 1px 2px;
}

#custom_cluster_label {
    font-weight: bold;
}

#custom_cluster_number {
    width: 100%;
}

#cell_view_icon {
    height: 24px;
    width: 24px;
}

#cell_view_icon:hover .outline {
    stroke: #8f8f8f
}

.toolbar_title {
    font-size: 0.6rem;
    font-weight: bold;
    color: #C1C1C1;
}

.selected {
    color: #ffa500;
}

.outline {
    stroke: #C1C1C1;
    stroke-width: 1;
    stroke-miterlimit: 10;
}

.inner-circle {
    fill: #FEA50A
}


#custom_search_col {
    visibility: hidden;
}

#custom_search_col span {
    display: inline-block;
    vertical-align: middle;
}

.parallel_coords {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#regl-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

}


.regl-plots-wrapper {
    position: relative;
}

.col-svg-wrapper {
    padding-left: 30px !important;
}

.par_cor_label {
    font-size: 0.5rem;
}

#custom_cluster {
    visibility: hidden;
}
