#row {
    height: 100%;
    width: 100%;
    margin: 0;
}

#openseadragon_wrapper {
    height: 100%;
    position: relative;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.openseadragon_wrapper_small {
    width: 45vw !important;
    min-width: 45vw !important;
    max-width: 45vw !important;

}

.openseadragon_wrapper_large {
    width: 65vw !important;
    min-width: 65vw !important;
    max-width: 65vw !important;

}


#analysis_wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 30vw !important;
    max-width: 30vw !important;
    min-width: 30vw !important;
}

#neighborhood_wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
}

.neighborhood_wrapper_small {
    width: 5vw !important;
    max-width: 5vw !important;
    min-width: 5vw !important;

}

.neighborhood_wrapper_large {
    width: 25vw !important;
    max-width: 25vw !important;
    min-width: 25vw !important;
}

#openseadragon_wrapper, #neighborhood_wrapper, #analysis_wrapper {
    transition-property: width, max-width, min-width;
    transition-duration: 0.5s;
}


.viewer_col {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.plot-label {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.95);
    font-weight: 500;
}

.parallel_axes text {
    fill: white;
    text-anchor: start;

}

.legend {
    position: absolute;
    fill: #333333;
    font-size: 6pt;
    text-anchor: middle;
}

.legend text {
    font: 12px sans-serif;
}

#legend {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 120px;
    height: 160px;
    z-index: 1;
}


#comparison_title {
    margin-top: 5px;
}

.compare_row {
    height: 28vh;
}

#comparison_div .compare_col, #summary_div .compare_col {
    padding: 0;
    height: 100%;
}

.compare_plot_body {
    height: 90%;
    width: 100%;
}

.compare_plot_title {
    height: 10%;
    width: 100%;
}

#comparison_div h5, #summary_div h5 {
    font-size: 0.8rem;
}

#phenotype_list .list-group-item {
    padding: 6px 3px;
    font-size: 0.6rem;
}

#phenotype_list .material-icons {
    font-size: 1rem;
}

#comparison_title .label {
    font-weight: bold;
    font-size: 0.8rem;
}

#small-multiple-toggle .btn, #summary-toggle .btn {
    padding: 3px 6px;
    margin: 0;
}

#small-multiple-toggle *, #summary-toggle * {
    font-size: 0.6rem;
}

#comparison_div .viewfinder_chart_area_path {
    fill: rgba(255, 165, 0, 0.9)
}

.tooltip, .tooltip * {
    font-size: 0.6rem;
}

#comparison_div, #summary_div {
    text-align: center;
}

#comparison_div_parent {
    width: 100%;
}

.domain {
    stroke-width: 0;
}

#comparison_container #legend {
    margin-bottom: 40px;
}

#custom_search_col span {
    color: white;
}


.scatter_canvas {
    height: 100%;
    width: 100%;
}


#neighborhood_similarity {
    width: 80px;
    height: 100%;
}

#current-selection-label, #current-selection-value {
    color: orange;
    font-size: 8pt;
}

#search-row {
    height: 15vh;
}

.full_height {
    height: 100%;
}


#expand_icon {
    color: #3870ce;
    font-size: 3rem;
    cursor: pointer;
}

#neighborhood_table .table-darker {
    background-color: #505050 !important;
}

#custom_cluster_number {
    background-color: #505050;
    color: white;
}

#custom_cluster_submit {
    padding: 3px;
}