/* Bootstrap Overrides */
#topBar {
    padding: 0 16px;
}

#title {
    font-size: 16px;
}

#navbarDropdown, #navbarUpload {
    font-size: 16px;
}

#container, #row, #channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 0 0 0;
    width: 100vw;
    max-width: 100vw;
}

#row {
    padding: 0 16px;
    width: 100%;
}

#channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper {
    height: 87.5vh;
    position: relative;
    min-height: 570px;
}

#channel_list_wrapper {
    padding: 0 6px 0 0;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#openseadragon_wrapper {
    padding: 0 6px 0 6px;
    max-width: 60%;
    min-width: 60%;
    width: 60%;
}

#csv_channel_list_wrapper {
    padding: 0 0 0 6px;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#lowRow1, #lowRow2, #lowRow3 {
    position: relative;
}

#boxHeading1, #boxHeading2 , #boxHeading3 {
    font-size: 16px;
    position: relative;
}

#selected-channels-header-div {
    position: absolute;
    right: 0;
    top: 0px;
}

#scalebar-header-div {
    position: absolute;
    right: 0;
    top: 0px;
}

#scalebar-header-div input {
    height: 11px;
    margin: 1px 10px 0 5px;
}

#download-channels-header-div {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: -3px;*/
}

#download-channels-header-div span {
    cursor: pointer;
    font-size: 15px
}

#download-gating-header-div {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: -3px;*/
}

#download-gating-header-div span {
    cursor: pointer;
    font-size: 15px
}

#channels_upload_icon_db, #channels_download_icon_db, #channels_upload_icon, #channels_download_icon,
#gating_upload_icon_db, #gating_download_icon_db, #gating_upload_icon, #gating_download_icon{
     cursor: pointer
}

#channels_download_icon_db, #gating_download_icon_db {
    margin-right: 10px;
}

#openseadragon, #channel_list, #csv_gating_list {
    height: 100%;
    position: relative;
    width: 100%;
}

#boxChannels1A, #boxChannels1B {
    font-size: 10px;
}

#gating_download_panel {
    background-color: rgba(224, 224, 224, 1);
    padding: 35px 10px 30px 10px;
    position: absolute;
    top: 19px;
    width: 98%;
    visibility: hidden;
    z-index: 100;
}

#gating_download_panel #gating_exit {
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    right: 5px;
    top: 5px;
}

#gating_download_panel label {
    font-size: 12px;
    width: 100%;
}

#gating_download_panel .download_flex {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0 5px 0;
    width: 100%;
}

#gating_download_panel .download_flex input[type=text] {
    background-color: white;
    border: none;
    border-radius: 1px;
    color: darkblue;
    font-size: 10px;
    padding: 5px;
    width: 85%;
}

#gating_download_panel .download_button {
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 0 7px;
    transform: rotate(180deg);
}

#gating_controls_panel {
    background-color: white;
    border-top: 1px solid rgba(224, 224, 224, 1);
    bottom: -19px;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 10px 0 10px;
    position: absolute;
    width: 98%;
    z-index: 100;
}

#gating_controls_panel label {
    align-items: center;
    display: flex;
    font-size: 11px;
}

#gating_controls_panel input {
    height: 11px;
    margin: 1px 10px 0 5px;
}
