{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../client/src/css/compare.css">
{% endblock %}

{% block content %}
<title>CyCIF Viewer - Neighborhood Comparison</title>
<div class="container">
    <div class="row justify-content-center" id="comparison_title">
        <div class="col-4">
            <div class="row">

                <div class="form-check" id="small-multiple-toggle">
                    <input type="radio" class="btn-check" name="options-outlined" id="starplot-button"
                           autocomplete="off"
                           checked>
                    <label class="btn btn-dark" for="starplot-button">Starplot</label>
                    <input type="radio" class="btn-check" name="options-outlined" id="barchart-button"
                           autocomplete="off">
                    <label class="btn btn-light" for="barchart-button">Barchart</label>
                    <input type="radio" class="btn-check" name="options-outlined" id="scatterplot-button"
                           autocomplete="off">
                    <label class="btn btn-light" for="scatterplot-button">Scatterplot</label>
                </div>
            </div>
        </div>
        <div class="col-4"><h3>Neighborhood Comparison</h3>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-10">
            <div id="comparison_div"></div>

        </div>
        <div class="col-2">
            <h5>Phenotypes</h5>
            <ul class="list-group" id="phenotype_list">
            </ul>
        </div>
    </div>
</div>
<script src="../client/src/js/views/neighborhoodComparison.js"></script>
{% endblock %}

