{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../client/src/css/compare.css">
{% endblock %}

{% block content %}
<title>CyCIF Viewer - Neighborhood Comparison</title>
<div class="container">
    <div class="row justify-content-center" id="comparison_title">
        <h3>Neighborhood Comparison</h3>
    </div>
    <div class="row">
        <div class="col-9">
            <div id="comparison_div"></div>

        </div>
        <div class="col-3">
            <h5>Phenotypes</h5>
            <ul class="list-group" id="phenotype_list">
            </ul>
        </div>
    </div>
</div>
<script src="../client/src/js/views/neighborhoodComparison.js"></script>
{% endblock %}

