{% extends 'base.html' %}
{% block content %}

{% if data.datasource %}
<title>CyCIF Viewer</title>
<div id="container" class="container">
    <div id="row" class="row">

        <div class="col-sm-3" id="channel_list_wrapper">
            <div id="lowRow1" class="row">
                <div id="boxHeading1" class="col-auto mr-auto">
                    <span class="box-heading">Channels</span>
                </div>
                <div class="col-auto" id="selected-channels-header-div">
                    <span class="selected-channels-header" id="num-selected-channels">0</span>
                    <span class="selected-channels-header">of 4 (Max) Selected</span>
                </div>
            </div>
            <div id="channel_list">
                <div class="row">
                    <div class="col-auto">
                        <div class="lds-ellipsis" id="channel_list_loader">
                        </div>
                    </div>
                </div>
                <div id="channel_list_div">
                    <ul class="list-group" id="channel_list_group"></ul>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="neighborhood_table_heading">
                            <button id="neighborhood_dropdown_button" class="btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#neighborhood_table_div"
                                    aria-expanded="true" aria-controls="neighborhood_table_div">
                                <span id="neighborhood_table_div_label">Neighborhood List</span>
                            </button>
                        </div>
                        <div id="neighborhood_table_div" class="collapse"
                             aria-labelledby="neighborhood_table_heading"
                             data-parent="#accordion">
                            <div id="neighborhood_table_card" class="card-body">
                                <table id="neighborhood_table" class="table table-hover">
                                    <thead id="neighborhood_table_header">
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Source</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer" id="neighborhood_table_footing">
                            <div id="save_neighborhood_div">
                                <a id="save_neighborhood">Save Current Selection</a>
                            </div>
                        </div>
                        <div class="card-footer" id="compare_neighborhood">
                            <div id="compare_neighborhoods_div">
                                <a id="compare_neighborhoods_link" href="/compare_neighborhoods/{{ data.datasource }}">Compare
                                    Neighborhoods</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>

        <div class="col-sm-5 viewer_col" id="openseadragon_wrapper">
            <span class="box-heading">Viewer</span>
            <div id="openseadragon">
                <div id="selection-options">
                    <div class="row justify-content-center">
                        <div id="cell_container">
                            <svg id="neighborhood_icon" height="24px" width="24px">
                                <circle class="cls-1" cx="15.65" cy="3.77" r="1.02"/>
                                <circle class="cls-1" cx="2.75" cy="15.38" r="2.25"/>
                                <circle class="cls-1" cx="15.66" cy="15.38" r="1.01"/>
                                <circle class="cls-1" cx="4.24" cy="2.75" r="2.25"/>
                                <circle class="cls-1" cx="10.34" cy="9.8" r="5.34"/>
                            </svg>
                        </div>
                        <span class="material-icons" id="lasso_button">gesture</span>
                        <span class="material-icons" id="select_button">near_me</span>

                        <!--                        <img class="selection-icon" src="../client/src/img/gesture-24px.svg"/>-->
                        <!--                        <img class="selection-icon" src="../client/src/img/near_me-24px.svg"/>-->

                    </div>
                    <div class="row" id="similarity_group">
                        <form>
                            <label id="neighborhood_similarity_label" for="neighborhood_similarity">
                                Similarity: </label> <span id="similarity_val">0.8</span>
                            <input type="range" class="form-control-range" min="0" max="100" value="80"
                                   id="neighborhood_similarity">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="lds-ellipsis" id="openseadragon_loader">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div id="legend"></div>
            </div>
        </div>
        <div class="col-sm-3 viewer_col" id="scatterplot_wrapper">
            <span id="analysis_label">Analysis</span>
            <div id="plots_display" class="col">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h5 id="starplot_label" class="text-center">Neighborhood Composition</h5>
                    </div>
                </div>
                <div class="row" id="starplot_display"></div>
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h5 id="scatterplot_label" class="text-center">Neighborhood Embedding Space</h5>
                    </div>
                </div>
                <div class="row" id="scatterplot_display">
                    <canvas id="scatter_canvas"></canvas>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="../client/src/js/main.js" defer></script>
{% endif %}
{% endblock %}


