/* Bootstrap Overrides */
#topBar {
    padding: 0 16px;
}

#title {
    font-size: 16px;
}

#navbarDropdown, #navbarUpload {
    font-size: 16px;
}

#container, #row, #channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 0 250px 0;
    width: 100vw;
    max-width: 100vw;
}

#row {
    padding: 0 16px;
    width: 100%;
}

#channel_list_wrapper, #openseadragon_wrapper, #csv_channel_list_wrapper {
    height: 87.5vh;
    position: relative;
    min-height: 570px;
}

#channel_list_wrapper {
    padding: 0 6px 0 0;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#openseadragon_wrapper {
    padding: 0 0 0 6px;
    max-width: 80%;
    min-width: 80%;
    width: 80%;
}

#csv_channel_list_wrapper {
    padding: 0 0 0 6px;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#lowRow1, #lowRow2, #lowRow3 {
    position: relative;
}

#boxHeading1, #boxHeading2 , #boxHeading3 {
    font-size: 13px;
    position: relative;
}

#selected-channels-header-div {
    position: absolute;
    right: 0;
    top: -4px;
}

#openseadragon, #channel_list {
    height: 100%;
    position: relative;
    width: 100%;
}

#boxChannels1A, #boxChannels1B {
    font-size: 10px;
}