<!doctype html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <!-- OpenSeadragon Imports-->
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/canvas-overlay-hd.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon-svg-overlay.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragonrgb.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/viaWebGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openSeadragonGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openSeadragon-filtering.js"></script>

    <link rel="stylesheet" href="../static/frontend/src/css/main.css">
    <script src="../static/frontend/src/js/passVariablesToFrontend.js" type="text/javascript"></script>
    <script type="text/javascript">
        <!--@formatter:off-->
            const flaskVariables = passVariablesToFrontend({{data|tojson}});
        <!--@formatter:on-->
    </script>
    <script src="../static/frontend/dist/vendor_bundle.js"></script>
    <script src="../static/frontend/src/js/TreeModel.js"></script>
    <script src="../static/frontend/src/js/utils.js"></script>
    <script src="../static/frontend/src/js/ridgeplot.js"></script>
    <script src="../static/frontend/src/js/colorScheme.js"></script>
    <script src="../static/frontend/src/js/rainbow.js"></script>
    <script src="../static/frontend/src/js/dataFilter.js"></script>
    <script src="../static/frontend/src/js/distributionViewer.js"></script>
    <script src="../static/frontend/src/js/imageViewer.js"></script>
    <script src="../static/frontend/src/js/simpleEventHandler.js"></script>
</head>
<body>
<title>Neighborhood Viewer</title>
<h1>Viewing {{ data.database }}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-2" id="channel_list_wrapper">
            <div id="channel_list"></div>
        </div>
        <div class="col-sm-8">
            <div id="openseadragon"></div>
        </div>

    </div>
</div>
<script src="../static/frontend/src/js/main.js"></script>

</body>