<!doctype html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <!-- OpenSeadragon Imports-->
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/canvas-overlay-hd.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon-svg-overlay.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragonrgb.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/viaWebGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openSeadragonGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openSeadragon-filtering.js"></script>

    <link rel="stylesheet" href="../static/frontend/src/css/main.css">
    <script src="../static/frontend/src/js/passVariablesToFrontend.js" type="text/javascript"></script>
    <script type="text/javascript">
        flaskVariables = passVariablesToFrontend({{data|tojson}})
    </script>
    <script src="../static/frontend/dist/vendor_bundle.js"></script>
    <script src="../static/frontend/src/js/TreeModel.js"></script>
    <script src="../static/frontend/src/js/utils.js"></script>
    <script src="../static/frontend/src/js/ridgeplot.js"></script>
    <script src="../static/frontend/src/js/rainbow.js"></script>
    <script src="../static/frontend/src/js/dataFilter.js"></script>
    <script src="../static/frontend/src/js/distributionViewer.js"></script>
    <script src="../static/frontend/src/js/imageViewer.js"></script>
    <script src="../static/frontend/src/js/simpleEventHandler.js"></script>
</head>
<body>
<title>Neighborhood Viewer</title>
<div id="loader"></div>
<div id="loadinginfo">loading data..</div>
<h1>Viewing {{ data.database }}!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8" id="seaDragonWindow"> <!-- jojo debug <div class="col-md-10" id="increaseWidth"> -->
            <div class="box">
                <div id="openseadragon1" style="height: -webkit-calc(100% - 20px);"
                     oncontextmenu="return false;"></div>
            </div>
        </div>
        <div class="col-md-2 reduceWidth" id="nothing">
            <div class="box" id="ridge_plot_wrapper">
                <div id="ridge_plot"></div>
            </div>
        </div>
    </div>
</div>
<script src="../static/frontend/src/js/main.js"></script>

</body>