<!doctype html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <!-- OpenSeadragon Imports-->
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/canvas-overlay-hd.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon-svg-overlay.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragonrgb.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/viaWebGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openSeadragonGL.js"></script>
    <script src="/static/frontend/external_js/openseadragon-bin-2.4.0/openseadragon-filtering.js"></script>

    <link rel="stylesheet" href="../static/frontend/src/css/main.css">
    <script src="../static/frontend/src/js/passVariablesToFrontend.js" type="text/javascript"></script>
    <script type="text/javascript">
        <!--@formatter:off-->
            const flaskVariables = passVariablesToFrontend({{data|tojson}});
        <!--@formatter:on-->
    </script>
    <script src="../static/frontend/dist/vendor_bundle.js"></script>
    <script src="../static/frontend/src/js/TreeModel.js"></script>
    <script src="../static/frontend/src/js/utils.js"></script>
    <script src="../static/frontend/src/js/colorScheme.js"></script>
    <script src="../static/frontend/src/js/rainbow.js"></script>
    <script src="../static/frontend/src/js/dataFilter.js"></script>
    <script src="../static/frontend/src/js/channelList.js"></script>
    <script src="../static/frontend/src/js/imageViewer.js"></script>
    <script src="../static/frontend/src/js/simpleEventHandler.js"></script>
</head>
<body>
<title>Neighborhood Viewer</title>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Neighborhood Viewer</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                  Data Sources
                </span>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for database in data.databases %}
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <a class href="/{{database}}">{{database}}</a>
                            </div>
                            <div class="col-4">
                                <a href="/edit_config/{{database}}"><span class="fas fa-pencil-alt"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload_page">Upload</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" id="upload-parent">
    <span>Upload Form</span>
    <div class="sectionContent" id="upload-container">
        <div class="row">
            <div class="col">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-3">
                            <label for="name">Data Endpoint Names:</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="name" name="name"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="channel_files">Select Channel File(s):</label>
                        </div>
                        <div class="col-auto">
                            <input type="file" id="channel_files" name="channel_files" multiple><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="channel_files">Select Label File:</label>
                        </div>
                        <div class="col-auto">
                            <input type="file" id="label_file" name="label_file" multiple><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="csv_file">Select CSV File:</label>
                        </div>
                        <div class="col-auto">
                            <input type="file" id="csv_file" name="csv_file"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input id="upload_button" class="btn btn-secondary" type="submit" name="action"
                                   value="Upload">
                        </div>
                        <div class="col-8">
                            <div id="progress">
                                <div class="progress-bar progress-bar-striped active">
                                    <span id="progress-bar-percentage" class="progress-bar-label">0%</span>
                                    <span id="progress-bar-current-task" class="progress-bar-label">0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>