<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="contour_icon" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">

   	<circle class="contour-icon-circle" cx="12" cy="12" r="11.3"/>
    <circle class="contour-icon-circle" cx="12" cy="12" r="7.5"/>
    <circle class="contour-icon-circle" cx="12" cy="12" r="4"/>

</svg>
