{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="../client/src/css/viewer.css">
    <link rel="stylesheet" href="../client/src/css/embedding.css">
{% endblock %}

{% block content %}

    {% if data.datasource %}
        <div id="container">
            <div id="channel_list_wrapper">
                <div id="lowRow1" class="row">
                    <div id="boxHeading1" class="col-auto mr-auto">
                        <span class="box-heading">Channels</span>
                    </div>
                    <div class="col-auto" id="selected-channels-header-div">
                        <span class="selected-channels-header" id="num-selected-channels">0</span>
                        <span class="selected-channels-header">of 4 (Max) Selected</span>
                    </div>
                </div>
                <div class="list" id="channel_list">
                    <div class="row">
                        <div class="col-auto">
                            <div class="lds-ellipsis" id="channel_list_loader">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scatter_canvas-row" class="row">
                <div id="openseadragon_wrapper" class="col-auto">
                    <div id="openseadragon">
                        <div class="row">
                            <div class="col-auto">
                                <div class="lds-ellipsis" id="openseadragon_loader">
                                </div>
                            </div>
                        </div>
                        <div id="legend"></div>
                    </div>
                    <div id="toolbox"></div>
                    <div id="tray">
                    </div>
                </div>

                <div id="analysis_wrapper" class="col-auto">
                    <div id="lowRow3" class="row">
                        <div id="boxHeading3" class="col-auto mr-auto">
                            <span class="box-heading">Embedding</span>
                        </div>
                    </div>
                    <div id="plots_display" class="col">
                        <div class="row align-items-center" id="scatterplot_display">
                            <canvas class="scatter_canvas" id="viewer_scatter_canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script src="../client/src/js/main.js" defer></script>
    {% endif %}
{% endblock %}