{% extends 'base.html' %}
{% block content %}
    <title>Minerva Analysis - Data Upload</title>
    <div class="container" id="upload-parent">
        <span>Upload Form</span>
        <div class="sectionContent" id="upload-container">
            <div class="row">
                <div class="col">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div id="name-div">
                            <div class="row">
                                <div class="col-3">
                                    <label for="name-1">Dataset Name:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="name-1" name="name-1">
                                </div>
                                <div class="col-auto">
                                    <label>Linked Datasets</label>
                                    <button id="add-dataset-button" type="button" class="btn btn-secondary">+</button>
                                    <button id="remove-dataset-button" type="button" class="btn btn-secondary">-
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div id="radius-div">
                            <div class="row">
                                <div class="col-3">
                                    <label for="neighborhood_radius">Neighborhood Radius (microns)</label>
                                </div>
                                <div class="col-auto">
                                    <input type="number" id="neighborhood_radius" name="neighborhood_radius">
                                </div>
                            </div>
                        </div>
                        <div id="file-div">
                            <div class="row">
                                <div class="col-3">
                                    <label for="channel_file-1">Channel File Path:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="channel_file-1" name="channel_file-1">
                                </div>
                            </div>
                        </div>
                        <div id="seg-div">
                            <div class="row">
                                <div class="col-3">
                                    <label for="label_file-1">Segmentation File Path:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="label_file-1" name="label_file-1">
                                </div>
                            </div>
                        </div>
                        <div id="csv-file-div">
                            <div class="row">
                                <div class="col-3">
                                    <label id="csv_file_label" for="csv_file-1">CSV File:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="file" id="csv_file-1" name="csv_file-1"><br><br>
                                </div>
                            </div>
                        </div>
                        <div id="cell-type-file-div">
                            <div class="row">
                                <div class="col-3">
                                    <label id="cell_type_file_label" for="celltype_file">Cell Type File:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="file" id="celltype_file" name="celltype_file"><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <input id="upload_button" class="btn btn-secondary" type="submit" name="action"
                                       value="Upload">
                            </div>
                            <div class="col-8">
                                <div id="progress">
                                    <div class="progress-bar progress-bar-striped active">
                                        <span id="progress-bar-percentage" class="progress-bar-label">0%</span>
                                        <span id="progress-bar-current-task" class="progress-bar-label">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../client/src/js/views/progressBar.js" defer></script>
    <script src="../client/src/js/views/uploadForm.js" defer></script>
{% endblock %}