img {
        max-width: 100%;
        max-height: 100%;
    }
    body {background-color: black; color: white; height: 100%;}
    html { height: 90%; }

    .n_inner_box{
        text-align: center;
        margin: 10px;
        padding:10px;
        border: 1px solid white;
        font-size:18px;
        color: white;
    }

    .n_inner_box:hover {
        box-shadow: 0 0 20px 2px greenyellow;
    }

    .n_inner_box a:link {
      color: white;
    }
    .n_inner_box a:visited {
      color: white;
    }
    .n_inner_box a:hover {
      color: white;
    }
    .n_inner_box a:active {
      color: white;
    }


    /* Clear floats after the columns */
    .n_row:after {
      content: "";
      display: table;
      clear: both;
    }

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #100f0f;
      text-align: center;
      color: white;
    }
    .footer a:link {
      color: greenyellow;
    }
    .footer a:visited {
      color: greenyellow;
    }
    .footer a:hover {
      color: greenyellow;
    }
    .footer a:active {
      color: greenyellow;
    }
    .n_description {
        padding-top: 5px;
      font-size:12px;
    }