
/* Bootstrap Overrides */
#topBar {
    padding: 0 16px;
}

#title {
    font-size: 16px;
}

#navbarDropdown, #navbarUpload {
    font-size: 16px;
}

#boxHeading1, #boxHeading2 {
    font-size: 13px;
}

#boxChannels1A, #boxChannels1B {
    font-size: 10px;
}

#container, #row, #lowRow, #lowRow div, #channel_list_wrapper, #openseadragon_wrapper {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    max-width: 100vw;
}

#row {
    padding: 0 16px;
    width: 100%;
}

#channel_list_wrapper, #openseadragon_wrapper {
    height: 87.5vh;
    min-height: 570px;
}

#channel_list_wrapper {
    padding: 0 6px 0 0;
    max-width: 20%;
    min-width: 20%;
    width: 20%;
}

#openseadragon_wrapper {
    padding: 0 0 0 6px;
    max-width: 80%;
    min-width: 80%;
    width: 80%;
}

#openseadragon, #channel_list {
    height: 100%;
    width: 100%;
}